//Colores header

$azul:rgb(103, 177, 219);
$rosa:#e7c0f3;
$rosalogo:#d275ee;
$blanco:white;

//Fuentes

$fuenteprincipal: Helvetica;

//Colores redes sociales

$facebook:rgb(60, 228, 130);
$linkedin:rgb(145, 196, 226);
$instagram:#ec4197;
$youtube:#ee4646;
$twitter:#a3a1a1;
$pinterest:#f3813f;

//Colores paleta

$color1:#B22222;
$color2:#ADFF2F;
$color3:#00BFFF;
$color4:#8A2BE2;

//Colores fade

$colorfade11:#FA8072;
$colorfade13:#8B0000;

$colorfade21:#cdf78f;
$colorfade23:#6B8E23;

$colorfade31:#87CEEB;
$colorfade33:#1E90FF;

$colorfade41:#9370DB;
$colorfade43:#4B0082;
